<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897932384626433832795" />
  <xacro:property name="scale" value="0.001 0.001 0.001" />
  <xacro:property name="effort" value="1000.0" />
  <xacro:property name="stl_folder" value="file:///home/cherry/stuff/robot/meshes" />

  <xacro:property name="link_names" value="${[
    'base_link',
    'link_1',
    'link_2',
    'link_3'
  ]}" />

  <xacro:property name="link_positions" value="${[
      '0 -0.01256 0.0189',
      '0 0 0.0445129',
      '0 0.0138933 0.0651722',
      '0 0.0683254 -0.00951201'
  ]}" />

  <xacro:property name="joint_positions" value="${[
    '0 0 0.0189',
    '0 0 0.060023',
    '0 0.030044 0.126324'
  ]}" />

</robot>