<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- link macro -->
  <xacro:macro name="link" params="link color:=black">
    <link name="${link['name']}">
        <visual>
          <origin rpy="0 0 0" xyz="${link['xyz']}" />
          <geometry>
            <mesh filename="file://${description_pkg}/meshes/${link['name']}.stl" />
          </geometry>
          <material name="${link['color']}" />
        </visual>
        <collision>
          <origin rpy="0 0 0" xyz="${link['xyz']}" />
          <geometry>
            <mesh filename="file://${description_pkg}/meshes/${link['name']}.stl" />  <!-- box geo -->
          </geometry>
        </collision>
        <inertial>
      <mass value="${link['mass']}" />
      <origin xyz="${link['com']}" rpy="0 0 0"/>
      <inertia ixx="${link['inertia']['ixx']}" ixy="0" ixz="0"
               iyy="${link['inertia']['iyy']}" iyz="0"
               izz="${link['inertia']['izz']}" />
    </inertial>
    </link>
  </xacro:macro>


 <!-- joint macro -->
  <xacro:macro name="joint" params="joint">
    <joint name="${joint['name']}" type="${joint['type']}">
      <origin rpy="0 0 0" xyz="${joint['xyz']}" />
      <limit effort="${joint['effort']}" lower="${joint['lower']}" upper="${joint['upper']}" velocity="${joint['velocity']}" />
      <axis xyz="${joint['axis']}" />
      <parent link="${joint['parent']}" />
      <child link="${joint['child']}" />
      <xacro:if value="${joint['mimic']['use']}">
        <mimic joint="${joint['mimic']['joint']}" multiplier="${joint['mimic']['multiplier']}" />
      </xacro:if>
    </joint>
  </xacro:macro>


  <!-- world link & world link to base link joint-->
  <link name="world" />
  <joint name="world_to_${links[0]['name']}" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="world"/>
    <child link="${links[0]['name']}"/>
  </joint>


  <!-- robot links and joints -->
  <xacro:link link="${links[0]}" />
  <xacro:joint joint="${joints[0]}" />
  <xacro:link link="${links[1]}" />
  <xacro:joint joint="${joints[1]}" />
  <xacro:link link="${links[2]}" />
  <xacro:joint joint="${joints[2]}" />
  <xacro:link link="${links[3]}" />
  <xacro:joint joint="${joints[3]}" />
  <xacro:link link="${links[4]}" />

  <xacro:joint joint="${joints[4]}" />
  <xacro:link link="${links[5]}" />
  <xacro:joint joint="${joints[5]}" />
  <xacro:link link="${links[6]}" />


  <!-- end effector link and joint -->
  <joint name="${joints[6]['name']}" type="fixed">
    <origin rpy="0 0 0" xyz="${joints[6]['xyz']}" />
    <parent link="${joints[6]['parent']}" />
    <child link="${joints[6]['child']}" />
  </joint>
  <link name="${links[7]['name']}">
    <visual>
      <origin rpy="0 0 0" xyz="${links[7]['xyz']}" />
      <geometry>
        <box size="${links[7]['size']}" />
      </geometry>
      <material name="${links[7]['color']}"/>
    </visual>
  </link>

</robot>