<?xml version="1.0"?>
<robot name="rpd_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <xacro:property name="description_pkg" value="$(find rpd_robot_description)" />
  <xacro:property name="config_file" value="${description_pkg}/config/urdf_config.yaml" />
  <xacro:property name="config" value="${xacro.load_yaml(config_file)}" />
  <xacro:property name="links" value="${config['links']}" />
  <xacro:property name="joints" value="${config['joints']}" />

  <xacro:include filename="${description_pkg}/urdf/rpd_robot_arm.urdf.xacro"/>
  <xacro:include filename="${description_pkg}/urdf/rpd_robot_gripper.urdf.xacro"/>
  <xacro:include filename="${description_pkg}/urdf/rpd_robot_ros2_control.xacro"/>
  <!-- <xacro:include filename="${description_pkg}/urdf/rpd_robot_gazebo.xacro"/> -->

</robot>