<?xml version="1.0"?>
<robot name="rpd_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="port" default="/dev/ttyACM0" />
  <xacro:arg name="baudrate" default="1000000" />
  <xacro:arg name="use_sim" default="false" />
  <xacro:arg name="use_mock_hardware" default="false" />

  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>

  <material name="red">
    <color rgba="1 0 0 1"/>
  </material>

  <material name="green">
    <color rgba="0 1 0 1"/>
  </material>

  <material name="blue">
    <color rgba="0 0 1 1"/>
  </material>

  <xacro:property name="description_pkg" value="$(find rpd_robot_description)" />
  <xacro:property name="config_file" value="${description_pkg}/config/urdf_config.yaml" />
  <xacro:property name="config" value="${xacro.load_yaml(config_file)}" />
  <xacro:property name="links" value="${config['links']}" />
  <xacro:property name="joints" value="${config['joints']}" />

  <xacro:include filename="${description_pkg}/urdf/rpd_robot_arm.urdf.xacro"/>
  <xacro:include filename="${description_pkg}/urdf/rpd_robot_gazebo.xacro"/>
  <xacro:include filename="${description_pkg}/urdf/rpd_robot_ros2_control.xacro"/>

</robot>